*
{
    margin:0;
    padding: 0;
    box-sizing: border-boxs;
}
img 
{
    height:500px;
    width:700px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left:30px;
}
.max
{
    display:flex;
}
.bridefam
{
    text-align: center;
    justify-content: center;
    margin:300px 100px 300px 200px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Script MT",cursive ;
}
.maxi
{
    height:500px;
    width:700px;
}